  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ request.PATHPROJECT }}" class="brand-link sidebar-dark-primary">
      <img src="{{ ASSETS_ROOT }}/img/Logo_utt.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Titulación</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ ASSETS_ROOT }}/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="{% url 'login' %}" class="d-block">
            {{ request.user.username }} - Logout
          </a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2 pb-3">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">
            <a href="{{ request.PATHPROJECT }}" class="nav-link {% if 'index' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/index.html" class="nav-link {% if 'index' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard v1</p>
                </a>
              </li>
            </ul>
          </li>

          {% if request.user.is_superuser %}
          <li class="nav-item has-treeview {% if 'certificado' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'certificado' in segment %} active {% endif %}">
              <i class="nav-icon fa-solid fa-file-certificate"></i>
              <p>
                Certificados
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/certificado/certificado-allC.html" class="nav-link {% if 'allC' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Todos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/certificado/certificado-form.html" class="nav-link {% if 'form.html' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nuevo</p>
                </a>
              </li>
            </ul>
          </li>

          <li class="nav-item has-treeview {% if 'charts' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'charts' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Estadisticas
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/estadisticas/charts-allE.html" class="nav-link {% if 'allE' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Todas</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/estadisticas/charts-chartjs.html" class="nav-link {% if 'charts-chartjs' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Hombres</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/estadisticas/charts-flot.html" class="nav-link {% if 'charts-flot' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Mujeres</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/estadisticas/charts-inline.html" class="nav-link {% if 'charts-inline' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Humbres y mujeres</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview {% if 'titulo' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'titulo' in segment %} active {% endif %}">
              <i class="nav-icon fa-regular fa-file-alt"></i>
              <p>
                Titulo electronico
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/tituloElectronico/titulo-allT.html" class="nav-link {% if 'allT' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ver todos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/tituloElectronico/titulo-completos.html" class="nav-link {% if 'titulo-completos.html' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Completos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/tituloElectronico/titulo-incompletos.html" class="nav-link {% if 'titulo-incompletos.html' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Incompletos</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/tituloElectronico/titulo-tsu.html" class="nav-link {% if 'tsu' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>TSU</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/tituloElectronico/titulo-ingeneria.html" class="nav-link {% if 'ingeneria' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ingeneria</p>
                </a>
              </li>
            </ul>
          </li>
          {% endif %}

          {% if request.user.is_superuser == False %}
          <li class="nav-item has-treeview {% if 'file' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'file' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-folder-open"></i>
              <p>
                Subir archivos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/fileUpload/file-allF.html" class="nav-link {% if 'allF' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ver</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{ request.PATHPROJECT }}/fileUpload/file-formF.html" class="nav-link {% if 'formF' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  {% if request.titleFormTituloElectronico %}
                    <p>{{request.titleFormTituloElectronico }}</p>
                  {% else %}
                    <p>Formulario</p>
                  {% endif %}
                </a>
              </li>
            </ul>
          </li>
          {% endif %}

          
          <li class="nav-item has-treeview {% if 'ui-' in segment %} menu-open {% endif %}">
            <a href="#" class="nav-link {% if 'ui-' in segment %} active {% endif %}">
              <i class="nav-icon fas fa-tree"></i>
              <p>
                UI Elements
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/ui-general.html" class="nav-link {% if 'ui-general' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>General</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/ui-icons.html" class="nav-link {% if 'ui-icons' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Icons</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/ui-buttons.html" class="nav-link {% if 'ui-buttons' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Buttons</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/ui-sliders.html" class="nav-link {% if 'ui-sliders' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Sliders</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/ui-modals.html" class="nav-link {% if 'ui-modals' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Modals & Alerts</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/ui-navbar.html" class="nav-link {% if 'ui-navbar' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Navbar & Tabs</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/ui-timeline.html" class="nav-link {% if 'ui-timeline' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Timeline</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/ui-ribbons.html" class="nav-link {% if 'ui-ribbons' in segment %} active {% endif %}">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ribbons</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">EXAMPLES</li>
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-plus-square"></i>
              <p>
                Extras
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="/examples-login.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Login</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/examples-register.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Register</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/examples-forgot-password.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Forgot Password</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/examples-recover-password.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Recover Password</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/examples-lockscreen.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Lockscreen</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/examples-legacy-user-menu.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Legacy User Menu</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/examples-language-menu.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Language Menu</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/examples-404.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Error 404</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/examples-500.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Error 500</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="/examples-blank.html" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Blank Page</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-header">MISCELLANEOUS</li>
          <li class="nav-item">
            <a target="_blank" rel="noopener noreferrer"
               href="https://adminlte.io/docs/3.0/" class="nav-link">
              <i class="nav-icon fas fa-file"></i>
              <p>UI Documentation</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  