{% extends "layouts/base.html" %}

{% block title %} Certificados {% endblock %} 

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %} 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Certificados de titulación</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ request.PATHPROJECT }}">Home</a></li>
              <li class="breadcrumb-item active">Certificado</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">

            <div class="card">
              <div class="card-header">
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Matricula</th>
                    <th>Nombre</th>
                    <th>Carrera</th>
                    <th>Area</th>
                    <th>Fecha de actualización</th>
                    <th>Generar PDF</th>
                    <th>Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for certificado in request.certificados %}
                  <tr>
                    <td>{{ certificado.enrollment_student_degree_id }}</td>
                    <td>{{ certificado.name_student_degree }} {{ certificado.last_name_degree }} {{ certificado.second_last_name_degree }}</td>
                    <td>{{ certificado.career_degree }}</td>
                    <td>{{ certificado.area_career_degree }}</td>
                    <td>{{ certificado.updated_at_degree }}</td>
                    <td>
                      <button type="button" class="btn btn-primary" onclick="crearCertificado(
                        {
                          matricula: '{{ certificado.enrollment_student_degree_id }}',
                          nombre: '{{ certificado.name_student_degree }}',
                          apellidoP: '{{ certificado.last_name_degree }}',
                          apellidoM: '{{ certificado.second_last_name_degree }}',
                          planE: '{{ certificado.syllabus_year_degree }}',
                          periodoInit: '{{ certificado.start_school_term_degree }}',
                          periodoEnd: '{{ certificado.end_school_term_degree }}',
                          tipoC: '{{ certificado.type_career_degree }}',
                          nombreC: '{{ certificado.career_degree }}',
                          areaC: '{{ certificado.area_career_degree }}',

                          calificaciones: '{{ certificado.ratings_degree }}',
                        }
                      )">
                        Generar
                      </button>
                    </td>
                    <td class="d-flex justify-content-around">
                      <a href="{{ request.PATHPROJECT }}/certificado/certificado-formE.html?matricula={{ certificado.enrollment_student_degree_id }}" class="btn btn-primary">
                        <i class="fa fa-edit"></i>
                      </a>
                      <a href="{{ request.PATHPROJECT }}/certificado/delete?matricula={{ certificado.enrollment_student_degree_id }}" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                      </a>
                    </td>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Matricula</th>
                      <th>Nombre</th>
                      <th>Carrera</th>
                      <th>Area</th>
                      <th>Fecha de actualización</th>
                      <th>Generar PDF</th>
                      <th>Acciones</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- page script -->
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>

{% endblock javascripts %}
