{% extends "layouts/base.html" %}

{% block title %} Certificados {% endblock %} 

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %} 
<script>
  var dataA = '';
  var state = 0;
  var calificaciones = [];
</script>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Certificados de titulación</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ request.PATHPROJECT }}">Home</a></li>
              <li class="breadcrumb-item"><a href="{{ request.PATHPROJECT }}/certificado/certificado-allC.html">Certificado</a></li>
              <li class="breadcrumb-item active">Form Edit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <form action="" class="card card-default" id="form" method="GET">
          {% csrf_token %}
          <div class="card-header">
            <h3 class="card-title">Editar certificado de titulación</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button> -->
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Matricula</label>
                  <p class="px-2">
                    {{ request.dataAlumno.enrollment_student_degree_id }}
                  </p>
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- right column -->
          <div class="col-md-12" id="fieldsNewCertificado">
            <!-- general form elements disabled -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Verifique los datos del alumno</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                {% for field in request.form %}
                  {% if field.name == 'start_school_term_degree' %}
                    <div class="row">
                      <div class="col-sm-12">
                        <!-- text input -->
                        <div class="form-group">
                          <label id="{{ field.name }}L">
                            <script>
                              setTimeout(()=>{
                                $('#{{ field.name }}L').html('{{ field.label }}');
                                $('#{{ field.name }}').attr('placeholder', '{{ field.label }}');
                                
                              }, 300);
                            </script>
                          </label>
                          <div class="input-group date" id="init" data-target-input="nearest">
                            <input type="text" placeholder="09/2020" class="form-control datetimepicker-input" data-target="#init" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" />
                              <div class="input-group-append" data-target="#init" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% elif field.name == 'end_school_term_degree' %}
                    <div class="row">
                      <div class="col-sm-12">
                        <!-- text input -->
                        <div class="form-group">
                          <label id="{{ field.name }}L">
                            <script>
                              setTimeout(()=>{
                                $('#{{ field.name }}L').html('{{ field.label }}');
                                $('#{{ field.name }}').attr('placeholder', '{{ field.label }}');
                                
                              }, 300);
                            </script>
                          </label>
                          <div class="input-group date" id="end" data-target-input="nearest">
                            <input type="text" placeholder="09/2020" class="form-control datetimepicker-input" data-target="#end" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" />
                              <div class="input-group-append" data-target="#end" data-toggle="datetimepicker">
                                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% elif field.name == 'ratings_degree' %}
                    <script>
                      setInterval(() => {
                        $('#{{ field.name }}').val(JSON.stringify(calificaciones))
                      }, 500);
                    </script>
                    <input type="text" placeholder="-" class="d-none" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" />
                  {% elif field.name == 'enrollment_student_degree' %}
                    <input type="hidden" placeholder="-" class="" id="{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}"/>
                  
                  {% else %}
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label id="{{ field.name }}L">
                            <script>
                              setTimeout(()=>{
                                //.split(" ").slice(0, -1).join(" ")
                                $('#{{ field.name }}L').html('{{ field.label }}');
                                $('#{{ field.name }}').attr('placeholder', '{{ field.label }}');
                                
                              }, 300);
                            </script>
                          </label>
                          <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.name }}" name="{{ field.name }}" placeholder="{{ field.label }}" value="{{ field.value }}">
                        </div>
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
                
                <h5>Calificaciones</h5>

                <div class="btn btn-success" onclick="addCali()">
                  <i class="fas fa-plus px-1"></i> Agregar materia
                </div>
                <script>
                  function addCali() {
                    var cali = {
                      'materia': '',
                      'calificacion': 0
                    }
                    calificaciones.push(cali)

                    $('#tableCali').append(
                      '<tr>' +
                        '<td>' +
                          '<input type="text" class="form-control materia" name="materia[]" placeholder="Materia">' +
                        '</td>' +
                        '<td>' +
                          '<input type="number" max="10" class="form-control calificacion" name="calificacion[]" placeholder="Calificacion">' +
                        '</td>' +
                        '<td>' +
                          '<input type="number" class="form-control horas" name="horas[]" placeholder="horas">' +
                        '</td>' +
                        '<td>' +
                          '<div class="btn btn-danger" onclick="deleteCali(this)" mat=""><i class="fas fa-trash"></i></div>' +
                        '</td>' +
                      '</tr>'
                    )

                    $('.materia').each(function(index, el) {
                      //cada vez que se agrega una materia se edite el array de calificaciones
                      el.onkeyup = function(event) {
                        calificaciones[index].materia = $(this).val().toString();
                        el.parentElement.parentElement.children[2].children[0].setAttribute('mat', $(this).val().toString());
                      }
                    });
                    $('.calificacion').each(function(index, el) {
                      //cada vez que se agrega una materia se edite el array de calificaciones
                      el.onkeyup = function(event) {
                        calificaciones[index].calificacion = parseInt($(this).val());
                      }
                    });
                    $('.horas').each(function(index, el) {
                      //cada vez que se agrega una materia se edite el array de calificaciones
                      el.onkeyup = function(event) {
                        calificaciones[index].horas = parseInt($(this).val());
                      }
                    });
                  }
                </script>
                <table class="table table-bordered mb-3">
                  <thead class="thead-dark">
                    <tr>
                      <th>Materia</th>
                      <th>Calificación</th>
                      <th>Horas</th>
                      <th>Eliminar</th>
                    </tr>
                  </thead>
                  <tbody class="table-striped" id="tableCali">
                    <script>
                        setTimeout(() => {
                            arrayCalificacionesString = '{{request.dataAlumno.ratings_degree}}'
                            arrayCalificacionesString = arrayCalificacionesString.replace(/&quot;/g, '"');
                            arrayCalificaciones = JSON.parse(arrayCalificacionesString);
                            arrayCalificaciones.forEach((calificacion) => {
                            if (calificaciones.length < arrayCalificaciones.length){
                                calificaciones.push(calificacion);
                                $('#tableCali').append(
                                    '<tr>' +
                                    '<td>' +
                                        '<input type="text" class="form-control materia" name="materia[]" placeholder="Materia" value="'+calificacion['materia']+'">' +
                                    '</td>' +
                                    '<td>' +
                                        '<input type="number" max="10" class="form-control calificacion" name="calificacion[]" placeholder="Calificacion" value="'+calificacion['calificacion']+'">' +
                                    '</td>' +
                                    '<td>' +
                                        '<input type="number" class="form-control horas" name="horas[]" placeholder="horas" value="'+calificacion['horas']+'">' +
                                    '</td>' +
                                    '<td>' +
                                        '<div class="btn btn-danger" onclick="deleteCali(this)" mat="' + calificacion['materia'] +'"><i class="fas fa-trash"></i></div>' +
                                    '</td>' +
                                    '</tr>'
                                );
                                }
                            });

                            $('.materia').each(function(index, el) {
                              //cada vez que se agrega una materia se edite el array de calificaciones
                              el.onkeyup = function(event) {
                                  calificaciones[index].materia = $(this).val().toString();
                              }
                              });
                              $('.calificacion').each(function(index, el) {
                              //cada vez que se agrega una materia se edite el array de calificaciones
                              el.onkeyup = function(event) {
                                  calificaciones[index].calificacion = parseInt($(this).val());
                              }
                              });
                              $('.horas').each(function(index, el) {
                              //cada vez que se agrega una materia se edite el array de calificaciones
                              el.onkeyup = function(event) {
                                  calificaciones[index].horas = parseInt($(this).val());
                              }
                              });
                            
                        }, 1000);      
                        
                        function deleteCali(e){
                              calificaciones = calificaciones.filter((calificacion) => {
                                //minuscculas calificacion.materia
                                return calificacion.materia.toLowerCase() != e.getAttribute('mat').toLowerCase();
                              });

                              setTimeout(() => {
                                e.parentNode.parentNode.remove();
                              }, 500);
                              console.log(calificaciones);

                            }
                          
                    </script>
                  </tbody>
                </table>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button class="btn btn-success btn-block" id="btnGenerar" type="submit">
            Actualizar
          </button>
          </div>
        </form>
        <!-- /.card -->
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Page script -->
<script>
  $(
    function(){
      var Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000
      });
      $('#init').datetimepicker({
          viewMode: 'years',
          format: 'MM/YYYY'
      });
      $('#end').datetimepicker({
          viewMode: 'years',
          format: 'MM/YYYY'
      });
      
      //evento a boton generar
      $('#form').on('submit', (e)=> {
        e.preventDefault();

        //recorrer cada input del formulario
        errors = 0
        $('#form input').each(function(index, value) {
          var input
          if(($(this).val() == '' || $(this).val() == undefined || $(this).val() == null) && $(this).attr('name')) {
            //input[$(this).attr('name')] = $(this).val();

            errors++;
          }
        });
        if (errors > 0){
          Toast.fire({
            icon: 'error',
            title: 'Faltan datos por llenar'
          });
        }else{
          
            Toast.fire({
              icon: 'info',
              title: ' Generando...'
            })

            $.ajax({
              url: window.location.href,
              type: 'POST',
              dataType: 'json',
              data: $('#form').serialize(),
              success: function(resp) {
                console.log(resp);
                Toast.fire({
                  icon: 'success',
                  title: 'Datos actualizados'
                });

                //crear pdf
                //para crearlo dever dividir los datos en un array con los mismos nombres de los campos que vienen abajo
                const data = {
                  matricula: $('#enrollment_student_degree').val(),
                  nombre: $('#name_student_degree').val(),
                  apellidoP: $('#last_name_degree').val(),
                  apellidoM: $('#second_last_name_degree').val(),
                  planE: $('#syllabus_year_degree').val(),
                  periodoInit: $('#start_school_term_degree').val(),
                  periodoEnd: $('#end_school_term_degree').val(),
                  tipoC: $('#type_career_degree').val(),
                  nombreC: $('#career_degree').val(),
                  areaC: $('#area_career_degree').val(),

                  calificaciones: calificaciones,
                }
                console.log(data);
                crearCertificado(data)
                $('html, body').animate({ scrollTop: 0 }, 'slow');
              },
              error: function(err) {
                Toast.fire({
                  icon: 'error',
                  title: ' Error inesperado al generar el certificado'
                })
                console.log(err);
              }
            })
        }
                    
      })
    
    }
  )
</script>


<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
</script>

{% endblock javascripts %}
