{% extends "layouts/base.html" %}

{% block title %} Titulo electronico {% endblock %} 

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %} 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Titulo electronico</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ request.PATHPROJECT }}">Home</a></li>
              <li class="breadcrumb-item"><a href="{{ request.PATHPROJECT }}/titulacion/tituloElectronico/titulo-allT.html">Titulo electronico</a></li>
              <li class="breadcrumb-item active">completos</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Alumnos con los documentos completos para el titulo electronico</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Matricula</th>
                    <th>Nombre del alumno</th>
                    <th>Carrera</th>
                    <th>Area de carrera</th>
                    <th>Genero</th>
                    <th>Documentos recibidos</th>
                    <th>Documentos aceptados</th>
                    <th>Documentos pendientes</th>
                    <th>Porcentages</th>
                    <th>Ver documentos</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for alumno in request.alumnos %}
                    {% if alumno.dporcentage >= 90 %}
                      <tr class="table-success">
                        <td>{{ alumno.matricula_alumno }}</td>
                        <td>{{ alumno.nombre_alumno }} {{ alumno.apellidop_alumno }}</td>
                        <td>{{ alumno.carrera_alumno }}</td>
                        <td>{{ alumno.area_carrera_alumno }}</td>
                        <td>{% if alumno.genero_alumno == '1' %}
                            Masculino
                          {% else %}
                            Femenino
                          {% endif %}
                        <td class="text-center">{{ alumno.dr }} / {% if alumno.estadiasIngLic_alumno %}6{% else %}5{% endif %}</td>
                        <td class="text-center">{{ alumno.da }} / {% if alumno.estadiasIngLic_alumno %}6{% else %}5{% endif %}</td>
                        <td class="text-center">{{ alumno.dp }}</td>
                        <td class="text-center">{{ alumno.dporcentage }} %</td>
                        <td class="text-center">
                          <a href="{{ request.PATHPROJECT }}/tituloElectronico/titulo-form.html?matricula={{ alumno.matricula_alumno }}" class="btn btn-primary btn-sm">Ver documentos</a>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Matricula</th>
                    <th>Nombre del alumno</th>
                    <th>Carrera</th>
                    <th>Area de carrera</th>
                    <th>Genero</th>
                    <th>Documentos recibidos</th>
                    <th>Documentos aceptados</th>
                    <th>Documentos pendientes</th>
                    <th>Porcentages</th>
                    <th>Ver documentos</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <!-- page script -->
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>

{% endblock javascripts %}
