{% extends "layouts/base.html" %}

{% block title %} Titulo electronico {% endblock %} 

<!-- Element injected in the BODY element -->
{% block body_class %} {% endblock body_class %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %} 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Titulo electronico</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ request.PATHPROJECT }}">Home</a></li>
              <li class="breadcrumb-item"><a href="{{ request.PATHPROJECT }}/titulacion/tituloElectronico/titulo-allT.html">Titulo electronico</a></li>
              <li class="breadcrumb-item active">Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <form action="" class="card card-default" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="card-header">
            <h3 class="card-title">Revisar documentos</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button> -->
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-1">
            <!-- right column -->
          <div class="col-md-12" id="formNewCertificado">
            <!-- general form elements disabled -->
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">Verifique los documentos</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <h2>
                  {{ request.dataA.matricula_alumno }} - {{ request.dataA.nombre_alumno }}
                </h2>
                {% for field in request.form %}
                  {% if field.field.widget.input_type == 'file' %}
                    {% if field.name == 'tsu_titulo_electronico' %}
                      {% if request.dataA.estadiasIngLic_alumno == True %}
                        <div class="container">
                          <b>{{ field.label }}</b>
                          <hr>
                          <div class="mb-1 row">
                              <div class="col-2">
                                  {% if field.value %}
                                    <a href="{{ field.value.url }}" target="_blank">Ver</a>
                                  {% else %}
                                  <p>
                                    No se ha subido el documento
                                  </p>
                                  {% endif %}
                              </div>
                              <div class="col-3">
                                {% for range in request.form %}
                                  {% if range.name == 'status_'|add:field.name %}
                                    <input type="hidden" name="{{ range.name }}" id="{{ range.name }}" value="{{ range.value }}">
                                    <input type="range" class="form-range" min="0" max="2" id="{{ range.name }}C" value="{% if range.value == True %}2{% elif range.value == False %}0{% else %}1{% endif %}">
                                    <script>
                                      document.getElementById("{{ range.name }}C").oninput = function() {
                                        switch (this.value) {
                                          case "0":
                                            document.getElementById("{{ range.name }}").value = 'False';
                                            break;
                                          case "1":
                                            document.getElementById("{{ range.name }}").value = ''
                                            break;
                                          case "2":
                                            document.getElementById("{{ range.name }}").value = 'True';
                                            break;
                                        }
                                      }
                                    </script>
                                  {% endif %}
                                {% endfor %}
                                <p class="d-flex justify-content-between">
                                    <i class="fas fa-times text-danger"></i>
                                    <i class="fas fa-clock text-warning"></i>
                                    <i class="fas fa-check text-success"></i>
                                </p>
                              </div>
                              <div class="col-7">
                                {% for coment in request.form %}
                                  {% if coment.name == 'comentarios_'|add:field.name %}
                                    <div class="form-floating">
                                      <textarea class="form-control" placeholder="Leave a comment here" name="{{ coment.name }}" id="{{ coment.name }}" style="height: 100px">{{ coment.value }}</textarea>
                                      <label for="{{ coment.name }}">Comentario</label>
                                    </div>
                                  {% endif %}
                                {% endfor %}
                              </div>
                          </div>
                        </div>
                      {% endif %}
                    {% else %}
                      <div class="container">
                        <b>{{ field.label }}</b>
                        <hr>
                        <div class="mb-1 row">
                            <div class="col-2">
                              {% if field.value %}
                                <a href="{{ field.value.url }}" target="_blank">Ver</a>
                              {% else %}
                              <p>
                                No se ha subido el documento
                              </p>
                              {% endif %}
                            </div>
                            <div class="col-3">
                              {% for range in request.form %}
                                {% if range.name == 'status_'|add:field.name %}
                                  <input type="hidden" name="{{ range.name }}" id="{{ range.name }}" value="{{ range.value }}">
                                  <input type="range" class="form-range" min="0" max="2" id="{{ range.name }}C" value="{% if range.value == True %}2{% elif range.value == False %}0{% else %}1{% endif %}">
                                  <script>
                                    document.getElementById("{{ range.name }}C").oninput = function() {
                                      switch (this.value) {
                                        case "0":
                                          document.getElementById("{{ range.name }}").value = 'False';
                                          break;
                                        case "1":
                                          document.getElementById("{{ range.name }}").value = ''
                                          break;
                                        case "2":
                                          document.getElementById("{{ range.name }}").value = 'True';
                                          break;
                                      }
                                    }
                                  </script>
                                {% endif %}
                              {% endfor %}
                              <p class="d-flex justify-content-between">
                                  <i class="fas fa-times text-danger"></i>
                                  <i class="fas fa-clock text-warning"></i>
                                  <i class="fas fa-check text-success"></i>
                              </p>
                            </div>
                            <div class="col-7">
                              {% for coment in request.form %}
                                {% if coment.name == 'comentarios_'|add:field.name %}
                                  <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" name="{{ coment.name }}" id="{{ coment.name }}" style="height: 100px">{{ coment.value }}</textarea>
                                    <label for="{{ coment.name }}">Comentario</label>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                        </div>
                      </div>
                    {% endif %}
                  {% elif field.name == 'id_alumno_titulo_electronico' %}
                    <div class="mb-3">
                        <input class="form-control border-0" type="hidden" id="{{ field.name }}"
                        name="{{ field.name }}" value="{{ field.value }}" readonly>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (right) -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
            <button class="btn btn-success btn-block" type="submit">
              Guardar
            </button>
          </div>
        </form>
        <!-- /.card -->
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- Page script -->
<script>

</script>

<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservationdate').datetimepicker({
        format: 'L'
    });
    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function(event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    });

    $("input[data-bootstrap-switch]").each(function(){
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    });

  })
</script>

{% endblock javascripts %}
